h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
     font-style: normal;
      }

  carousel-inner img{
   
width: 484px;
    height: 390.92px;
   
}